:root {
    --primary-bg-color: #f4f4f4;
    --main-container-bg: white;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --income-bg: #c8e6c9;
    --income-color: #2e7d32;
    --expense-bg: #ffcdd2;
    --expense-color: #c62828;
    --border-color: rgb(223, 219, 219);
    --primary-button-bg: #007BFF;
    --primary-button-hover-bg: #0056b3;
    --input-border-color: #ccc;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    background: var(--main-container-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
    width: 350px;
    text-align: center;
}

h1 {
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
}

.balance {
    margin: 20px 0;
}

.balance h3 {
    text-decoration: underline;
}

.balance span {
    border-bottom: 1px solid var(--border-color);
}

.table {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.income, .expense {
    text-align: justify;
    width: 43%;
    padding: 10px;
    border-radius: 5px;
}

.income {
    background: var(--income-bg);
    color: var(--income-color);
}

.expense {
    background: var(--expense-bg);
    color: var(--expense-color);
}

.history {
    margin: 20px 0;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

#data-amount {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color);
}

#data-amount {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color);
}

#data-amount {
    position: relative;
}

#data-amount li #icone i {
    display: none; 
    position: absolute;
    right: 161px; 
    top: 50%;
}

#data-amount li #icone:hover i {
    display: inline-block;  
}

#data-amount li i:hover {
    background-color: var(--income-color);
    border-radius: 50%;
    padding: 5px;
}

.add-transaction {
    text-align: left;
}

.add-transaction h3 {
    border-bottom: 1px solid var(--border-color);
}

input {
    width: 91%;
    padding: 14px;
    margin: 12px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: var(--primary-button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: var(--primary-button-hover-bg);
}
